In [ ]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = data.head(7)

#print excel
df

In [ ]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = pd.DataFrame(data)

#print excel
df[['App Name','App Id','Category']]

In [ ]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = data.head(1)

#print excel
df

In [ ]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("BTC_DATA_V3.0.csv")

df = data.head(7)

#print excel
df

In [ ]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("BTC_DATA_V3.0.csv")

df = pd.DataFrame(data)

#print excel
df[['Date','Price','Open']]

In [ ]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("BTC_DATA_V3.0.csv")

df = data.head(1)

#print excel
df

In [12]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("dataset.csv")

df = data.head(7)

#print excel
df

   id           file_path  file_size  line_count extension  language
0   1  Markdown/000001.md      34784         572        md  Markdown
1   2    XML/000002.props       3013          44     props       XML
2   3     Text/000003.txt       1076          21       txt      Text
3   4  Markdown/000004.md       8105          84        md  Markdown
4   5  Markdown/000005.md       2763          41        md  Markdown
5   6  Markdown/000006.md       2030          32        md  Markdown
6   7    JSON/000007.json        591          19      json      JSON

In [13]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("dataset.csv")

df = pd.DataFrame(data)

#print excel
df[['id','file_path','file_size']]

          id           file_path  file_size
0          1  Markdown/000001.md      34784
1          2    XML/000002.props       3013
2          3     Text/000003.txt       1076
3          4  Markdown/000004.md       8105
4          5  Markdown/000005.md       2763
...      ...                 ...        ...
86222  86229      SQL/086229.sql        333
86223  86230      SQL/086230.sql        420
86224  86231      SQL/086231.sql        333
86225  86232      SQL/086232.sql        420
86226  86233      SQL/086233.sql        333

[86227 rows x 3 columns]

In [14]:
#importing pandas as pd
import pandas as pd

data = pd.read_csv("dataset.csv")

df = data.head(1)

#print excel
df

   id           file_path  file_size  line_count extension  language
0   1  Markdown/000001.md      34784         572        md  Markdown

In [ ]:
print('Welcome to Cadbury Nigeria Plc')

products= {'InternationalExport':["Cocoa butter","Cake","Liquor"],
          'Local Export':["Cocoa Powder"],
          'Segments':[""]}